@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    html {
        font-size: clamp(16px, 0.9vw + 0.2rem, 22px);
    }

    *::selection {
        background-color: #00000015;
    }

    .dark *::selection {
        background-color: #FFFFFF15;
    }
}


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@font-face {
    font-family: "Nothing You Could Do";
    src: url(/fonts/nothing-you-could-do.ttf)
}

@theme inline {
    --font-sans: "News Cycle", Instrument Sans, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: "Nothing You Could Do";
}
