name: CI
on:
    push:
        branches:
            - main
        tags:
            - "*"

jobs:
    docker:
        runs-on: ubuntu-24.04
        steps:
            - name: Checkout the repository
              id: checkout
              uses: actions/checkout@v6
            - name: Compute Docker tags
              id: tags
              run: |
                  SHA=${GITHUB_SHA::7}
                  if [[ "$GITHUB_REF" == refs/tags/* ]]; then
                    TAG=${GITHUB_REF#refs/tags/}
                    echo "DOCKER_TAGS=${TAG},${SHA}" >> $GITHUB_OUTPUT
                  else
                    echo "DOCKER_TAGS=${SHA}" >> $GITHUB_OUTPUT
                  fi
            - name: Publish the image to Docker Hub
              id: dockerhub-push
              uses: elgohr/Publish-Docker-Github-Action@v5
              with:
                  name: anafro/hyperstream-website
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}
                  tags: ${{steps.tags.outputs.DOCKER_TAGS}}
